@model IEnumerable<KChOTS.ContentPage>

@{
    ViewBag.Title = "View Content";
}

<h2>ViewContent</h2>

<table>
    <tr>
        <th colspan ="3">
            ContentID
        </th>
        <th colspan ="3">
            Name
        </th>
        <th colspan ="3">
            PageContent
        </th>
        <th colspan ="3">
            DateModified
        </th>
        <th colspan ="3">
            AdminID
        </th>
        <th colspan ="3">
            CmsTypeID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CmsTypeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
